/*背景图*/

.c_background {
    width: 100%;
    height: 100%;
    background-image: url("../images/QixiC.png");
    background-size: 100% 100%;
    position: absolute;
}

.girl {
    background: url(../images/person/girl.png) -302px -0px no-repeat;
    position: absolute;
    right: 40%;
    top: 37%;
    width: 151px;
    height: 291px;
}


.girl-rotate{
    -webkit-animation-name: girl-rotate;
    -webkit-animation-duration: 200ms;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: step-start;
    -webkit-animation-fill-mode: forwards;
}      

@-webkit-keyframes girl-rotate{
    0% {
        background: url(../images/person/girl.png) -755px -0px no-repeat;
    }
    16.7% {
        background: url(../images/person/girl.png) -151px -0px no-repeat;
    }
    33.4% {
        background: url(../images/person/girl.png) -906px -0px no-repeat;
    }
    50.1% {
        background: url(../images/person/girl.png) -0px -0px no-repeat;
    }
    66.8% {
        background: url(../images/person/girl.png) -453px -0px no-repeat;
    }
    83.5% {
        background: url(../images/person/girl.png) -604px -0px no-repeat;
    }
    100% {
        background: url(../images/person/girl.png) -755px -0px no-repeat;
    }
}


.bridge-bottom{
    position: absolute;
    width: 41%;
    height: 14.5%;
    left: 29.5%;
    top: 85%;
    overflow: hidden;
/*    -webkit-transform:perspective(8px) rotateX(.8deg); */
}

/*波浪水布局*/
.water {
    width: 100%;
    height: 100%;
}

.water_1,
.water_2,
.water_3 {
    width: 105%;
    position: absolute;
    height: 50%;
    background-size: cover;
}

.water_1 {
    top:20%;
/*    left: 6%;
    width: 85%;*/
    background-image: url("../images/water/water_1.png");
}

.water_2 {
    top: 40%;
    background-image: url("../images/water/water_2.png");
}

.water_3 {
    top: 50%;
    background-image: url("../images/water/water_3.png");
}

/*星星*/

.stars{
    width: 100%;
    height: 100%;
    position: absolute;
}

.stars > li{
    position: absolute;
    width: 30px;
    height: 31px;
    background-image: url("../images/stars.png");
}

.strat >li:first-child {
    top: 20%;
}
