/*背景图*/

.c_background {
    width: 100%;
    height: 100%;
    background-image: url("../images/QixiC.png");
    background-size: 100% 100%;
    position: absolute;
}
/*雪花*/

#snowflake {
    width: 100%;
    height: 100%;
    position: absolute
}

.snowRoll {
    position: absolute;
    opacity: 0;
    animation: mysnow 20s;
    height: 80px;
}

@-webkit-keyframes mysnow {
    0% {
        bottom: 100%;   
    }
    50% {
        transform:rotate(1080deg) ;
    }
    100% {
        transform: rotate(0deg) translate3d(50px,50px,50px);
    }
}
/*小女孩*/

.girl {
    background: url(../images/person/girl.png) -302px -0px no-repeat;
    position: absolute;
    right: 40%;
    top: 37%;
    width: 151px;
    height: 291px;
}

.girl-rotate {
    -webkit-animation-name: girl-rotate;
    -webkit-animation-duration: 850ms;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: step-start;
    -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes girl-rotate {
    0% {
        background: url(../images/person/girl.png) -755px -0px no-repeat;
    }
    16.7% {
        background: url(../images/person/girl.png) -151px -0px no-repeat;
    }
    33.4% {
        background: url(../images/person/girl.png) -906px -0px no-repeat;
    }
    50.1% {
        background: url(../images/person/girl.png) -0px -0px no-repeat;
    }
    66.8% {
        background: url(../images/person/girl.png) -453px -0px no-repeat;
    }
    83.5% {
        background: url(../images/person/girl.png) -604px -0px no-repeat;
    }
    100% {
        background: url(../images/person/girl.png) -755px -0px no-repeat;
    }
}
/*桥*/

.bridge-bottom {
    position: absolute;
    width: 41%;
    height: 24%;
    left: 29.5%;
    top: 76%;
    overflow: hidden;
    /*    -webkit-transform:perspective(8px) rotateX(.8deg); */
}
/*波浪水布局*/

.water {
    width: 100%;
    height: 100%;
}

.water_1,
.water_2,
.water_3,
.water_4 {
    width: 100%;
    position: absolute;
    height: 50%;
    -webkit-animation-name: shake;
    -webkit-animation-duration: 40s;
    -webkit-animation-direction:alternate;
    -webkit-anination-timing-function:linear;
    -webkit-animation-iteration-count: infinite;
}

.water_1 {
    width: 131px;
    height: 15px;
    top: 13%;
    left: 35%;
    background: url(../images/water.png) -261px -0px no-repeat;
}

.water_2 {
    width: 161px;
    height: 9px;
    top: 25%;
    left: 45%;
    background: url(../images/water.png) -693px -0px no-repeat;
    -webkit-animation-delay:2s;
}

.water_3 {
    width: 261px;
    height: 29px;
    top: 50%;
    left: 15%;
    background: url(../images/water.png) -0px -0px no-repeat;
    -webkit-animation-delay:1s;
}

.water_4 {
    width: 301px;
    height: 12px;
    top: 70%;
    left: 30%;
    background: url(../images/water.png) -392px -0px no-repeat;
    -webkit-animation-delay:3s;
}

@-webkit-keyframes shake {
    0%, 100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translate3d(-30px, 0px, 0);
        transform: translate3d(-30px, 0px, 0);
    }
    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translate3d(30px, 0px, 0);
        transform: translate3d(30px, 0px, 0);
    }
}
/*星星*/

.stars {
    width: 100%;
    height: 100%;
    position: absolute;
}

.stars > li {
    position: absolute;
    width: 30px;
    height: 31px;
    background-image: url("../images/stars.png");
}

.stars1 {
    top: 20%;
    left: 30%;
    -webkit-animation-name: flash;
    -webkit-animation-duration: 5s;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
}

.stars2 {
    top: 15%;
    left: 20%;
    -webkit-animation-name: flash;
    -webkit-animation-duration: 20s;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
}

.stars3 {
    top: 25%;
    left: 85%;
    -webkit-animation-name: flash;
    -webkit-animation-duration: 15s;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
}

.stars4 {
    top: 30%;
    left: 70%;
    -webkit-animation-name: flash;
    -webkit-animation-duration: 25s;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
}

.stars5 {
    top: 25%;
    left: 20%;
    -webkit-animation-name: flash;
    -webkit-animation-duration: 30s;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
}

.stars6 {
    top: 10%;
    left: 65%;
    -webkit-animation-name: flash;
    -webkit-animation-duration: 10s;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
}

@-webkit-keyframes flash {
    0%, 50%, 100% {
        opacity: 1;
    }
    25%,
    75% {
        opacity: 0;
    }
}

@-webkit-keyframes flash1 {
    /*透明度由0到1*/
    
    0% {
        opacity: 0;
        /*透明度为0*/
    }
    100% {
        opacity: 1;
        /*透明度为1*/
    }
}
